{% extends 'home/base.html' %}
{% block content %}


<div class="post-cont">
    <div class="post-header">
        <h2>Posts by {{ user.username }}</h2>
        {% for post in posts %}
             <div class="postcard">
                    <p>{{ post.title }}</p>
                    <img src="{{ post.img1.url }}">
                    <p>{{ post.content }}</p>
            </div>
        {% endfor %}
    </div>
   
   
</div>

<style>
.post-cont{
    font-family: Arial, sans-serif;
    width: 100%;
    padding: 20px;
    background-color:transparent;
    box-sizing: border-box;
}

.post-header {
    margin-bottom: 40px;
    text-align: center;
}

.post-header h2 {
    font-size: 28px;
    color:white;
    margin-bottom: 20px;
}

.postcard {
    background-color:rgba(0, 0, 0, 0.295);
    padding: 20px;
    margin-bottom: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.postcard:hover {
    transform: translateY(-5px); 
    box-shadow: 0 8px 12px rgba(0, 0, 0, 0.15);
}

.postcard p {
    font-size: 18px;
    color: white;
    margin-bottom: 10px;
    line-height: 1.5;
}


.postcard img {
    width: 100%;
    height: auto;
    border-radius: 8px;
    margin-bottom: 15px;
}

@media (max-width: 768px) {
    .post-cont{
        padding: 10px;
    }

    .post-header h2 {
        font-size: 24px;
    }

    .postcard {
        padding: 15px;
    }

    .postcard p {
        font-size: 16px;
    }
}

</style>
{% endblock %}
